.chat-body {
    // position: absolute;
    top: 60px;
    bottom: 130px;
    background-color: #fcfcfc;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    // background-image: url("../assets/tt.jpg");
    // background-blend-mode:lighten
    // ;
  }
  // .layui-row:after,
  // .layui-row:before {
  //   content: "";
  //   display: block;
  //   clear: both;
  // }
  
  .chatbox {
    position: absolute;
    right: 0;
    bottom: 3px;
    left: 0;
    width: 100%;
    height: 99%;
    overflow-x: hidden;
    overflow-y: auto;
    word-wrap: break-word;
  }
  .closechatbox {
    position: absolute;
    right: 0;
    bottom: 3px;
    left: 0;
    width: 100%;
    height: 99%;
    overflow-x: hidden;
    overflow-y: hidden;
    word-wrap: break-word;
    background: rgba(255, 255, 255, 0.151);
  }
  
  .conversation {
    padding-top: 28px;
    padding-bottom: 8px;
    margin: 0 3.2%;
    width: 93.6%;
    list-style: none;
    // display:block;
    // clear: both;
  }
  .chatmsg_no {
    position: relative;
    margin-bottom: 25px;
  
    //   display: flex;
    //   background: red;
  }
  .my-circle {
    border-radius: 50%;
    width: 46px;
    height: 46px;
  }
  .outer-left {
    width: 220px;
    position: relative;
    left: 56px;
    clear: both;
    font-size: 14px;
    // background: #009688;
  }
  .service {
    margin-left: 10px;
    margin-top: 5px;
    background-color: #e9f0ef;
    display: inline-block;
    //float: left;
    padding: 10px 16px;
    word-break: break-all;
    word-wrap: break-word;
    color: #555555;
    border-radius: 8px;
    // border-bottom-left-radius: 0;
    position: relative;
    left: 0px;
    display: inline-block;
    max-width: 100%;
    height: auto;
  }
  
  .service:before {
    content: "";
    position: absolute !important;
    // top: 100px;
    top: 8px;
    left: -5px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    // background: red;
    border-right: 10px solid #e9f0ef;
  }
  
  .chatmsg {
    // overflow: hidden;
    margin-bottom: 25px;
    position: relative;
    height: auto;
    // clear: both;
    // display: block;
  }
  .showtime {
    color: #d2d2d2;
    position: relative;
    margin-bottom: 10px;
    font-size: 12px;
    text-align: center;
    height: 16px;
  }
  .outer-right {
    float: right;
    width: 220px;
  
    position: relative;
    right: 56px;
    clear: both;
    font-size: 14px;
    display: flex;
    // display: flex;
  
    justify-content: flex-end;
  }
  
  .customer {
    margin-right: 10px;
    margin-top: 5px;
    background-color: #01aaed;
    color: #fff;
    display: inline-block;
    padding: 10px 16px;
    // float: right;
    word-break: break-all;
    word-wrap: break-word;
    // color: #555555;
    border-radius: 8px;
    // border-bottom-right-radius: 0;
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
    // text-align: center;
    
  }
  
  .customer:before {
    position: absolute;
    content: "";
    top: 6px;
    right: -6px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #01aaed;
  }
  .read-msg {
    //  background: red;
    display: inline-flex;
    justify-content: center;
    align-self: center;
    justify-content: center;
    // background: red;
    margin-right: 5px;
    color: #c2c2c2;
    font-size: 12px;
    // align-items: center;
    // align-content: center;
    // height: auto;
    // vertical-align: middle;
  }
  
  .pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    // line-height:-30px ;
    // vertical-align: middle !important;
    //  display: inline-flex;
    // text-align: center;
      // background-color: red;
    //  vertical-align: middle;
    // justify-content: flex-start;
    // align-items: center;
    // margin-top: -15px;
    // img{
    //   max-width: 120px;
    //   max-height: 100px;
    // }
  }
  // .chatmsg:after,
  // .chatmsg p {
  //   content: "";
  //   display: table;
  //   // width: 80%;
  //   clear: both;
  //   overflow: hidden;
  //   text-overflow: ellipsis;
  //   display: -webkit-box;
  //   -webkit-line-clamp: 2;
  //   overflow: hidden;
  // }
  
  .chatmsg:after,
  .chatmsg:before {
    content: "";
    display: table;
    // width: 80%;
    clear: both;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  // footer
  
  .chat-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 130px;
    background-color: #fff;
    // box-shadow: 0 -1px 0 0, 0 -2px 0 0;
    box-shadow: 0 -1px 0 0 rgba(255, 255, 254, 0.514),
      0 -2px 0 0 rgba(0, 0, 0, 0.11);
    border-bottom: 1px solid #e2e2e2;
  }
  .text-holder {
    height: 90px;
  }
  .textarea {
    display: block;
    width: 92%;
    height: 75px;
    padding: 8px 10px;
    overflow-x: hidden;
    overflow-y: auto;
    resize: none;
    outline: 0;
    background-color: #fff;
    border: 0;
    word-break: break-all;
    font-size: 13px;
    line-height: 17px;
    -webkit-appearance: none;
  }
  .chat-footer .send-bar {
    height: 40px;
  }
  .chat-footer .send-bar .tool-box {
    height: 100%;
    width: 80%;
    line-height: 40px;
    text-align: left;
    position: relative;
    left: 10px;
    // background: red;
  }
  .chat-footer .send-bar div {
    float: left;
  }
  // .footer {
  //   position: absolute;
  //   right: 0;
  //   left: 0;
  //   bottom: 0px;
  //   height: 200px;
  //   border-top: 8px solid #f7f7f7;
  //   background-color: #fff;
  // }
  // .widths {
  //   width: 100%;
  // }
  
  .tool-box a {
    float: left;
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin-right: 16px;
  }
  
  .input-but {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 30px;
    // background-color: red;
    // margin-top: 10px;
  }
  .size {
    min-width: 20px;
    //   height: 20px;
    border: none;
  }
  .layui-box,
  .layui-box * {
    box-sizing: content-box;
  }
  .fileinput {
    width: 20px;
    height: 30px;
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 0;
    background-color: green;
    // cursor: pointer;
  }
  
  .chat-footer .send-bar .send-btn-div {
    height: 100%;
    width: 20%;
  }
  
  .chat-footer .send-bar .send-btn-div .send-input {
    font-size: 13px;
    border: 0;
    outline: none;
    background-color: #f7f7f7;
    color: #cfcfcf;
    cursor: pointer;
    padding: 5px 15px 5px 15px;
    -webkit-appearance: none;
  }
  
  .send-input-active {
    font-size: 13px;
    border: 0;
    outline: none;
    background-color: #1e9fff;
    color: #fff;
    cursor: pointer;
    padding: 5px 15px 5px 15px;
    -webkit-appearance: none;
  }
  
  //@at-root
  
  .layui-layer {
    // -webkit-overflow-scrolling: touch;
    // top: 150px;
    // left: 0;
    // margin: 0;
    // padding: 0;
    // background-color: #fff;
    // // -webkit-background-clip: content;
    // border-radius: 2px;
    box-shadow: 1px 1px 50px rgb(0, 0, 0 / 30%);
    // bottom: 0;
    z-index: 19891045;
    width: 372px;
    position: absolute;
    top: 75% !important;
    left: 0px;
    height: auto;
  }
  
  .layui-layer,
  .layui-layer-shade {
    position: fixed;
    // _position: absolute;
    pointer-events: auto;
  }
  
  .layui-layer-page .layui-layer-content {
    position: relative;
    overflow: auto;
  }
  
  .layui-whisper-face ul {
    position: relative;
    width: 300px;
    padding: 10px;
    // border: 1px solid #d9d9d9;
    // background-color: rgb(14, 1, 1);
    // box-shadow: 0 0 20px rgb(0, 0, 0 / 20%);
    background-color: rgb(255, 255, 255);
    z-index: 10000;
  }
  .layui-clear {
    clear: both;
    // *zoom: 1;
  }
  .layui-whisper-face ul li {
    cursor: pointer;
    float: left;
    border: 1px solid #e8e8e8;
    // height: 22px;
    width: 26px;
    overflow: hidden;
    margin: -1px 0 0 -1px;
    // margin: 2px;
    padding: 2px 2px;
    text-align: center;
    // background: rgb(226, 226, 226);
  }
  img {
    display: inline-block;
    border: none;
    vertical-align: middle;
  }
  
  //
  .emojidiv {
    position: fixed;
    bottom: 12%;
    // background: red;
    // height: auto;
    width: 300px;
    // left: 2%;
    // z-index: 19891045;
    // background: #fff;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgb(0, 0, 0 / 20%);
  }
  
  // .full {
  //   width: 100%;
  //   height: auto;
  // }
  
  // modal
  
  .modal {
    height: 80%;
    width: 50%;
    // background: red;
    // z-index: 9991000;
    // margin: 0 auto;
    // position: relative;
    // vertical-align: middle;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10000;
    //  overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      // object-fit:scale-down;
    }
    user-select: none;
  }
  
  .modal .close {
    right: 0px;
    position: absolute;
    font-size: 30px;
    text-align: center;
    // top: 30px;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    top: -20px;
    cursor: pointer;
    background: #3ea1f1;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    right: -10px;
    .inner {
      height: 70%;
      width: 70%;
      background: rgb(70, 66, 66);
      border-radius: 50%;
      // display: flex;
      // align-content: center;
      // justify-content: center;
      // align-items: center;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 20px;
      font-weight: bold;
    }
  }
  
  //modal animation
  .pop-enter-active,
  .pop-leave-active {
    transition: transform 0.4s cubic-bezier(0.5, 0, 0.5, 1), opacity 0.4s linear;
  }
  
  .pop-enter,
  .pop-leave-to {
    opacity: 0;
    transform: scale(0.3) translateY(-20%);
  }
  
  @media only screen and (max-width: 600px) {
    .modal {
      height: 70% !important;
      width: 70% !important;
    }
  }